html{
  font-size: 100%;
}
body{
  margin: 0;
  background-color: #f1f7ee;
  font-size: .7em;
  font-family: Monaco, Consolas, monospace;
  color: #444;
  hyphens: auto;
  cursor: help;
}
a{
  text-decoration: none;
  color: #444;
}
p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.list_indent{
  padding-left: 1em;
  text-indent: -1em;
  margin-bottom: 1em;
}
h1{
  font-size: 1em;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}
cite{font-style: italic;}
.columns-container{
  box-sizing: border-box;
  padding: 2em 1em;
  max-width: 100%;
}
.column{
  padding: 0 1em;
  box-sizing: inherit;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}
.justify-end{
  justify-content: flex-end;
}
.justify-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.credits{
  margin-top: 2em;
}
#col-1{
  order: 1;
}
#col-2{
  order: 2;
}
#col-3{
  order: 3;
}
#col-4{
  order: 4;
}
#col-4 .column{
  border-right: none;
}
img{
  width: 40%;
  height: auto;
  min-width: 8em;
  margin: 2em 0 1em 0;
  /*mix-blend-mode: luminosity;*/
}
@media (min-width: 40rem) {
  .columns-container{
    display: flex;
    height: 100vh;
    padding: 0;
    overflow: hidden;
  }
  .turnbuckle{
    height: 100%;
    width: 25%;
    display: flex;
    padding: 1em 0;
    box-sizing: border-box;
    transition: background-color 2s;
  }
  .turnbuckle:hover{
    background-color: #dce6d7;
    transition: background-color 2s;
  }
  .column{
    width: 100%;
    border-right: 1px solid black;
    margin: 0;
    overflow-y: auto;
    box-sizing: border-box;
  }
  .sinking-margin{
    margin-top: 8em;
  }
  img{margin: 4em 0;}
  .credits{text-align: right;}
}
