html{
  font-size: 100%;
}
body{
  margin: 0;
  background-color: #f1f7ee;
  font-size: .7em;
  font-family: Monaco, Consolas, monospace;
  color: #454;
  hyphens: auto;
  cursor: help;
}
a{
  text-decoration: none;
  color: #585;
}
p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.list_indent{
  padding-left: 1em;
  text-indent: -1em;
  margin-bottom: 1em;
}
h1{
  font-size: 1em;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}
cite{font-style: italic;}
.columns-container{
  box-sizing: border-box;
  padding: 2em 1em;
  max-width: 100%;
}
.column{
  padding: 0 1em;
  box-sizing: inherit;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}
.justify-end{
  justify-content: flex-end;
}
.justify-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.credits{
  margin-top: 2em;
}
#col-1{
  order: 1;
}
#col-2{
  order: 2;
}
#col-3{
  order: 3;
}
#col-4{
  order: 4;
  border-right: none;
}
img{
  width: 40%;
  height: auto;
  min-width: 8em;
  margin: 2em 0 1em 0;
  /*mix-blend-mode: luminosity;*/
}
.call-now{
  margin: 0;
  width: 60%;
  height: auto;
  align-self: center;
  opacity: 0;
  transition: opacity ease-out 2s;
}
.call-now:nth-of-type(2){
  transition-delay: 500ms;
}
.call-now:nth-of-type(3){
  transition-delay: 1000ms;
}
.call-now:nth-of-type(4){
  transition-delay: 1500ms;
}
.notice{
  margin: 1em 0;
  background-color: #787;
  color: #eee;
  padding: 1em;
  transition: background-color 3s;
}

/* Begin desktop layout changes (when device width >= 40em) */

@media (min-width: 40rem) {
  .columns-container{
    display: flex;
    height: 100vh;
    padding: 0;
    overflow: hidden;
  }
  .turnbuckle{
    width: 25%;
    border-right: 1px solid #454;
    height: calc(100vh - 2em);
    position: relative;
    top: 1em;
  }
  .column{
    padding: 1em 1em;
    width: 100%;
    margin: 0;
    overflow-y: auto;
    box-sizing: border-box;
    height: 100vh;
    position: relative;
    top: -1em;
    transition: background-color 3s;
  }
  .column:hover{
    background-color: #e1ecdb;
  }
  .column:hover .notice{
    background-color: #898;
  }
  .column:hover .call-now{
    opacity: 1;
    transition-timing-function: ease-in;
    transition-duration: 4s;
  }
  .sinking-margin{
    margin-top: 8em;
  }
  img{margin: 4em 0;}
  .credits{text-align: right;}
}


/* Night Mode */

/*
body{
  background-color: #372227;
  color: #eff4ef;
}
.column:hover{
  background-color: #481e28;
}
.turnbuckle{
  border-color: #eff4ef;
}
.notice{
  background-color: #463a3a;
}
.column:hover .notice{
  background-color: #4d403c;
}
a{
  color: #f0e2d8;
}
img{
  mix-blend-mode: lighten;
}
*/
